@media screen and (max-width: 500px) {
    #sitenav {
        display: none;
    }
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

header {
    height: 75px;
    width: 100%;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 1;
}

#banner {
    background-image: url("./media/banner_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: auto;
    height: 90%;
    min-height: max-content;
    position: relative;
    top: 75px;
    z-index: 0;
}

#intro {
    padding-top: 40px;
    margin-left: auto;
    margin-right: 35px;
    text-align: right;
    max-width: 800px;
    line-height: 40px;
    backdrop-filter: blur(2px);
}

#intro h1 {
    font-size: 64px;
    line-height: 60px;
}
#intro h2 {
    font-size: 28px;
    font-weight: 400;
}

#intro p {
    font-size: 20px;
    font-weight: 300;
}

#introlinks {
    margin-right: 20px;
}

#introlinks ul {
    display: flex;
    width: 100%;
    justify-content: right;
    flex-wrap: wrap;
}

#introlinks ul li {
    padding: 10px 10px 10px 35px;
    font-size: 22px;
}

#introlinks ul li:hover {
    color: #1c4587;
    cursor: pointer;
}

ul {
    list-style: none;
}

#imglogofull {
    width: 150px;
    height: 50px;
    margin: 10px;
}

#sitenav {
    width: 100%;
    margin-top: 10px;
    display: none;
}

#sitenavlist {
    list-style: none;
    display: flex;
    justify-content: right;
    margin-right: 35px;
    font-size: 18px;
}

#sitenavlist li {
    padding: 0px 10px 00px 10px;
    color: darkslategrey;
}

#sitenavlist li:hover {
    color: #1c4587;
    cursor: pointer;
}

#period {
    color: #1c4587;
}

.btnstandard {
    width: 200px;
    height: 35px;
    border: solid;
    border-radius: 5px;
    border-color: #1c4587;
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    background-color: white;
    margin-top: 25px;
    color: #1c4587;
    display: none;
}

.btnstandard:hover{
    background-color: #1c4587;
    border-color: white;
    color: white;
    cursor: pointer;
}

footer {
    height: 75px;
    width: 100%;
    position: relative;
}

#socials {
    display: flex;
    margin-right: 35px;
    justify-content: right;
    bottom: 0;
}

#socials li {
    padding: 0px 15px 00px 15px;
    margin-top: 30px;
    overflow: hidden;
}

#socialicons {
    height: 40px;
}

a {
    text-decoration: none;
    color: #1c4587;
    font-family: inherit;
}

a:hover {
    font-weight: 600;
}